<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/styles.css">
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container" id="headerWrap">
        <div class="col-sm-5 col-md-6 col-lg-6 logoCol">
            <a href="http://www.spartonnavex.com/"><img class="logo" src="images/sparton-logo.png" alt="Sparton" width="339" height="60" /></a>
        </div>
    </div>
    <div class="fullWidth greyBackground headerPadding">
    	<div class="container">
    		<div class="caption col-xs-12 col-sm-12 col-md-6">Discover techniques for mitigating distortion when integrating magnetometers into inertial systems</div>
    	</div>
    </div>
    <div class="container">                                                 
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 entry">         
    		<p class="arial17">A high performance inertial system that includes magnetometers can provide accurate platform heading information in a variety of applications and operational environments. However, performance depends greatly on where the inertial system is installed within the application.</p>
			<p class="arial17">In our white paper, you’ll learn integration guidelines for inertial systems and operational compensation considerations. It includes information on:</p>
			<ul>
				<li>Sources of magnetic field distortion</li>
				<li>Platform considerations</li>
				<li>Evaluating and compensating for magnetic disturbances</li>
			</ul>
			<p class="arial17">Read "Integration and Operational Guidelines for MEMS-Based Inertial Systems: Applications that include magnetometers.”</p>
		</div>
		<div class=" formCol">
			<div class="image">
				<img src="images/pic1.png" />
				 <h2><span>Get our white paper</span></h2>
			</div>
			<div class="formPadding">
				<p>Learn how magnetic field distortion can<br> be evaluated and compensated for in<br> inertial systems.</p>
				<form id="signupform">
					<label for="first">
						<span>First Name</span>
						<input class="width160" type="text" id="firstName" />
					</label>
					<label for="last">
						<span>Last Name</span>
						<input class="width160" type="text" id="lastName" />
					</label>
					<br>
					<label for="company">
						<span>Company Name</span>
						<input class="width330" type="text" id="company" />
					</label>
					<br>
					<label for="jobs">
						<span>Job Type</span>
						<select name="jobList" form="signupform">
							<option value="" selected="selected">-Select-</option> 
							<option value="United States">job1</option> 
							<option value="United Kingdom">job2</option>
							<option value="Canada">job3</option>
							<option value="Mexico">job4</option>
							<option value="Japan">job5</option>
						</select>
					</label>
					<label for="industry">
						<span>Industry</span>
						<select name="industryList" form="signupform">
							<option value="" selected="selected">-Select-</option> 
							<option value="United States">industry1</option> 
							<option value="United Kingdom">industry2</option>
							<option value="Canada">industry3</option>
							<option value="Mexico">industry4</option>
							<option value="Japan">industry5</option>
						</select>
					</label>
					<br>
					<label for="email">
						<span>Email</span>
						<input class="width330" type="text" id="email" />
					</label>
					<br>
					<label for="state">
						<span>State/Province</span>
						<input class="width160" type="text" id="state" />
					</label>
					<label for="country">
						<span>Country</span>
						<select name="countryList" form="signupform">
							<option value="" selected="selected">-Select-</option> 
							<option value="United States">United States</option> 
							<option value="United Kingdom">United Kingdom</option>
							<option value="Canada">Canada</option>
							<option value="Mexico">Mexico</option>
							<option value="Japan">Japan</option>
						</select>
					</label>
					<br>
					<label for="question">
						<span>Do you currently use or plan to incorporate inertial<br> sensors into your product systems?</span>
						<input class="width330" type="text" id="question" />
					</label>
					<br>
					<button class="redBtn break" type="button">Download Now</button>
				</form>
			</div>
		</div>
    </div>
    <div class="fullWidth darkGreyBackgound2">
    	<div class="container">
    		<div class="row lowerFooterMargin">
    			<div class="col-lg-9 col-sm-9 col-xs-12 lowerFooter">
			    	<p class="lowerFooterFont">Copyright © 2015 Sparton Navigation and Exploration. All rights reserved. <br> 5612 Johnson Lake Road  •  P.O. Box 788  •  DeLeon Springs, Florida 32130</p>
			    	<p class="lowerFooterFont contact">Contact Us  |  productsupport@sparton.com</p>
			    </div>
			    <div class="col-lg-3 col-sm-3 col-3 col-xs-12 fullSite">
			    	<div class="icon pull-left">
			    		<img src="images/icon.png"/>
			    	</div>
			    	<div class="push-right">
			    		<p class="lowerFooterFont fullSiteFont">View full Site</p>
			    	<div>
			    	<div class="clearfix"></div>
			    </div>
		    </div>
	    </div>
	</div>
		<div class="at4-share-outer addthis-smartlayers addthis-smartlayers-desktop" aria-labelledby="at4-share-label" role="region">
	    	<div id="at4-share-label">AddThis Sharing</div>
	    	<div id="at4-share" class="addthis_32x32_style atss atss-left addthis-animated slideInLeft at4-show">
		    	<a class="at4-share-btn at-svc-facebook" href="#">
		    		<span class=" at4-icon aticon-facebook" title="Facebook">Facebook</span>
		    	</a>
		    	<a class="at4-share-btn at-svc-twitter" href="#">
		    		<span class=" at4-icon aticon-twitter" title="Twitter">Twitter</span>
		    	</a>
		    	<a class="at4-share-btn at-svc-email" href="#">
		    		<span class=" at4-icon aticon-email" title="Email">Email</span>
		    	</a>
		    	<a class="at4-share-btn at-svc-print" href="#">
		    		<span class=" at4-icon aticon-prinxt" title="Print">Print</span>
		    	</a>
		    	<a class="at4-share-btn at-svc-compact" href="#">
		    		<span class=" at4-icon aticon-compact" title="More">More</span>
		    	</a>
		    	<div id="at4-scc" class="at-share-close-control at4-show at4-hide-content" title="Hide">
		    		<div class="at4-arrow at-left">Hide</div>
		    	</div>
	    	</div>
	    </div>
    </div>
</body>
</html>